<%= simple_form_for(@audio) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :author %>
    <%= f.input :date %>
    <%= f.file_field :image %>
    <%= f.file_field :piste %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
